#first {

    .img-box {
        img {
            margin-left: -15px;
            width: 40%;
        }
    }

    ul {
        margin-top: 38px;

        li {
            // :nth-child(1){
            //     margin-left: 50px;
        }

        a {
            text-decoration: none;
            padding: 15px;
            font-size: 20px;
            color: #353535;
            position: relative;

            &:hover {
                &::before {
                    content: "";
                    width: 70%;

                }
            }

            &::before {
                content: "";
                position: absolute;
                left: 13px;
                bottom: 10px;
                transition: 0.5s;
                width: 0%;
                height: 2px;
                background-color: rgb(240, 240, 22);
            }
        }
    }

}

select {
    width: 45px;
    height: 55px;
    margin: -14px 0 0 23px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #353535;
    cursor: pointer;

    -webkit-appearance: none; // none up>

    &:hover {
        box-shadow: 0 0 20px 0 rgb(101, 158, 184);
    }

    option {
        text-align: center;
    }
}

#our {
    background-image: url(../images/our.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;

    h1 {
        text-align: center;
        padding-top: 270px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        font-weight: bold;
        font-size: 70px;
    }

}

#About {
    margin: 40px;

    table {

        td {

            h1 {
                color: yellow;
                font-size: 50px;
                font-weight: 400;
                margin: 20px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



            }

            img {}

            h6 {
                font-size: 24px;
                font-weight: 700;
                opacity: 0.7;
                margin: 20px 0 0 20px;

            }

            p {
                font-size: 22px;
                opacity: 0.9;
                margin: 20px 0 0 20px;
            }
        }
    }
}

#producy {
    h1 {
        text-align: center;
        font-size: 55px;
        font-weight: 400;
        margin-bottom: 35px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        &::before {


            content: "";
          margin-left: -1%;
            position: absolute;
            width: 24%;
            height: 2px;
            background-color: #FFF212;
            
            margin-top: 70px;
        }
    }

   



    .boxes {
        width: 100%;
        margin: auto;

        .box {
            img {
                width: 90%;
                height: 90%;
                margin: auto;
                vertical-align: middle;
                object-fit: cover;
                display: block;
            }

            width: 33%;
        }

    }





}
#select{
    h1{
        text-align: center;
        font-size: 55px;
        font-weight: 400;
        margin-bottom: 35px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        &::before {


            content: "";
            margin-left: -1%;
            position: absolute;
            width: 38%;
            height: 2px;
            background-color: #FFF212;
            
            margin-top: 70px;
        }
    }
}

.fifeboxes {
    width: 90%;
    margin: auto;

    img {
        width: 90%;
        height: 60vh;
        object-fit: cover;
        margin: auto;
        display: block;
    }

    .box {
        width: 20%;
    }
}

#partners {
    h1 {
        text-align: center;
        font-size: 55px;
        font-weight: 400;
        margin-bottom: 35px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        &::before {


            margin-left: -1%;
            content: "";
            position: absolute;
            width: 25%;
            height: 2px;
            background-color: #FFF212;
            
            margin-top: 70px;
        }
    }

    .images-boxes {
        width: 80%;
        margin: auto;

        img {
            margin-left: 40px;
            margin-right: 30px;


        }
    }
}

// #hundred {
//     background-image: url(../images/1.jpg);
//     background-size: cover;
//     width: 100%;
//     height: 50vh;

//     .text {

//         h1 {
//             font-size: 45px;
//             font-weight: 400;
//             opacity: 0.8;
//             color: white;
//             padding-top: 120px;
//         }

//         pre {
//             padding-top: 120px;
//             color: red;
//             font-size: 60px;
//         }

//     }

//     .third {
//         pre {
//             display: flex;
//             justify-content: space-around;
//             font-size: 20px;
//             font-weight: 400;
//             color: white;
//             margin-top: -25px;
//         }
//     }
// }

#static {
    height: 40vh;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background-image: url(../images/1.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
height: 50vh;
    justify-content: center;
    align-items: center;

    .year {
        padding-top: 7%;

        h1 {
            font-size: 65px;
            font-weight: bold;
            color: #E91E63;
            text-align: center;
            margin-top: 10px;
        }

        p {
            color: white;
            font-size: 20px;
            opacity: 0.9;
            text-align: center;

        }
    }

    h3 {
        font-size: 42px;
        line-height: 58px;
        padding-top: 20%;
        color: white;
        font-weight: 500;
    }


}
footer {
    img {
        width: 60%;
        margin-left: 60px;
    }

    p {
        margin: 0px 0 40px 80px;
        font-size: 20px;
        opacity: 0.8;
    }

    ul {}

    .generally {
        width: 100%;

        .box {
            width: 24%;
           
            h3{

            }
            h4{
                font-size: 20px;
                margin: 16px 0 16px 0;
                color: #EC268F; ;
            }
            i{
                margin-top: 7px;
                p{
                    font-size: 15px;
                    color: black;
                    margin-top: -15px;
                    margin-left: 23px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    opacity: 0.7;
                    font-weight: 400;
                }
            }
        }

        ul {
            text-align: center;

            li {
                margin: 13px;
                color: #EC268F;
                font-size: 19px;
                font-weight: 500;

                a {
                    text-decoration: none;
                    font-size: 15px;
                    color: grey;
                    transition: 0.3s;
                    transform: translateX(0);
                  
&:hover{
   color: rgb(187, 183, 183);
        background-color: yellow;
        padding: 5px 10px;
        border-radius: 10px;
        transform: translateX(10%);
       
        }
                }
            }
            
        }

    }

}